<ion-view view-title="Les Veilles">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="veille in veilles" type="item-text-wrap" href="#/tab/veilles/{{veille.id}}">
        <h2>{{veille.title}}</h2>
        <p>{{veille.type}}</p>
        <p>{{veille.date}}</p>
        <i class="icon ion-document-text"></i>
    </ion-list>
  </ion-content>
</ion-view>
