<ion-view view-title="Se connecter">
  <ion-content class="col col-33 col-offset-33">
    <br>
    <div class="list align-center">
      <label class="item item-input">
        <span class="input-label"><b>Email</b></span>
        <input type="email" ng-model='data.email'>
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Password</b></span>
        <input type="password" ng-model='data.password'>
      </label>
      <br>
      <button class="col col-33 col-offset-33 button button-positive" type="submit" ng-click="login()">
        Se connecter
      </button>
    </div>
  </ion-content>
</ion-view>
