<ion-view view-title="Users">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-divider">
      <h1 class="text-center">{{user.firstname}} {{user.name}}</h1>
    </div>
    <div class="item item-body">
      <p>Adresse email : {{user.email}}</p>
      <p>Promo : {{user.promo}}</p>
    </div>
    <div class="item item-divider">
      <h2 class="text-center">Ses veilles :</h2>
    </div>
    <ion-item class="item item-body item-icon-right" ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
      <p><b>{{veille.title}}</b></p>
      <p><b>{{veille.type}}</b></p>
      <i class="icon ion-document-text"></i>
    </div>
  </ion-content>
</ion-view>
