<ion-view view-title="Modif">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-divider">
      <h1>{{veille.title}}</h1>
    </div>
    <div class="item item-body">
      <p>{{veille.description}}</p>
      <p>{{veille.firstname}}</p>
      <p>{{veille.date}}</p>
      <p>{{veille.id_user}}</p>
    </div>
</div>

  </ion-content>
</ion-view>
