<ion-view view-title="Veille">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-divider">
      <h1 class="text-center">{{veille.title}}</h1>
    </div>
    <div class="item item-body text-center">
      <p>{{veille.description}}</p>
      <p>Par : <a href="#/tab/users/{{veille.user[0].id}}">{{veille.user[0].firstname}}</a></p>
      <p>Source : <a href="#/tab/users/{{veille.user[0].id}}">{{veille.source}}</a></p>
      <p>Fait le : {{veille.date}}</p>
    </div>
    <button class="col col-20 col-offset-80 button button-assertive">
      Supprimer
    </button>
  </div>
  </ion-content>
</ion-view>
